*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.logo img{
    margin-top: 16px;
    margin-bottom: 6px;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    align-items: center;
    margin: 0 auto;
}
.menu ul li:hover{
    color: #469165;
    cursor: pointer;
}
.nav-btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
    margin-left: 346px;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: #2e7c4f;
}

#banner{
    /* background-color: aqua; */
    background-image: url(../assets/hero-bg.png);
    height: 645px;
}
.banner-content{
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}
.banner-content h1{
    font-size: 3em;
    color: #ffffff;
}
.banner-content p{
    color: #ffffff;
}
.center{
    margin: 0 auto;
    max-width: 245px;
}
.badge{
    display: inline-flex;
    max-width: 245px;
    gap: 5px;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 1000px;
    margin-top: 125px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    color: #469165;
}
.status-dot {
    margin: 10px;
    width: 10px;
    height: 10px;
    background: #469165;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #9fceb0,0 0 0 10px #d9eadf;
}

.btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
}
.btn:hover{
    cursor: pointer;
    background-color: #2e7c4f;
}

.work-btn{
    background:none;
    color: #ffffff;
    padding: 12px 16px 12px 16px;
    margin-left: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.work-btn:hover{
    background-color: #ffffff;
    border-color: #469165;
    color: #469165;
}
