*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.logo img{
    margin-top: 16px;
    margin-bottom: 6px;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    align-items: center;
    margin: 0 auto;
}
.menu ul li:hover{
    color: #469165;
    cursor: pointer;
}
.nav-btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
    margin-left: 346px;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: #2e7c4f;
}

#banner{
    /* background-color: aqua; */
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 645px;
}
.banner-content{
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}
.banner-content h1{
    font-size: 3em;
    color: #ffffff;
}
.banner-content p{
    color: #ffffff;
}
.center{
    margin: 0 auto;
    max-width: 245px;
}
.badge{
    display: inline-flex;
    max-width: 245px;
    gap: 5px;
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 1000px;
    margin-top: 125px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    color: #469165;
}
.status-dot {
    margin: 10px;
    width: 10px;
    height: 10px;
    background: #469165;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #9fceb0,0 0 0 10px #d9eadf;
}

.btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
}
.btn:hover{
    cursor: pointer;
    background-color: #2e7c4f;
}

.work-btn{
    background:none;
    color: #ffffff;
    padding: 12px 16px 12px 16px;
    margin-left: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.work-btn:hover{
    background-color: #ffffff;
    border-color: #469165;
    color: #469165;
}
.section-heading{
    text-align: center;
    padding-top: 40px;
}
.section-heading h2{
    font-size: 2.5em;
}
.section-heading p{
    color: #627382;
    margin-bottom: 50px;
}
.card-box{
    display: flex;
    max-width: 1450px;
    gap: 24px;
    /* background-color: #F95555; */
    margin: 0 auto;
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.card-info img{
    background-color: #F95555;
    padding: 6px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card-info{
    text-align: center;
}
.card-info h3{
    margin-bottom: 15px;
}

#solution{
    /* background-color: aqua; */
    height: 840px;
    padding: 120px 20px;
}
.solution-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1450px;
    margin: 0 auto;
}
.solution-container img{
    width: 600px;
    height: 600px;
}
.text-second{
    width: 700px;
}
.text-second h6{
    font-size: 16px;
    color: #469165;
}
.text-second h2{
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
}
p .fa-solid{
    color: #2e7c4f;
}
.txt{
    font-size: 16px;
    color: #627382;
}
.text-second p{
    color: #001931;
}

.early-access-container{
    background-color: #F7F6F2;
    max-width: 1450px;
    margin: 0 auto;
    padding: 80px 40px 80px 40px;
    justify-content: center;
    text-align: center;
}
.early-access-container h2{
    font-size: 2.5em;
}